.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    font-size: 30px;
}

.board-row {
    display: flex;
    flex-direction: row;
}